<head>  
	<meta charset="utf-8">  
	<title>Bootstrap 实例 - 自定义导航栏</title>  
	<link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.net/jquery/2.1.1/jquery.min.js"></script>  
	<script src="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>  
	<style>  
		/* 自定义当前页面链接的样式 */  
		.navbar-nav .current {  
			background-color: #e7e7e7; /* 或您想要的任何颜色 */  
			color: #333; /* 或您想要的任何字体颜色 */  
		}  
	</style>  
</head>  
<body>  
  
<nav class="navbar navbar-default" role="navigation">  
	<div class="container-fluid">  
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
			<ul class="nav navbar-nav">  
				{% for item in site.data.navigation %}  
				<li {% if page.url == item.link %}class="active"{% endif %}>  
					<a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>  
				</li>  
				{% endfor %}  
			</ul>  
		</div>  
	</div>  
</nav>  
  
</body>  
